In [1]:
rm(list = ls())
setwd("/mnt/c/git_repos/iORD_hepatitis/")
require(tidyverse)
require(data.table)
require(lubridate)
require(foreach)
require(doParallel)
require(funtimes)
require(tidyquant)

Loading required package: tidyverse

Warning message:
“package ‘tidyverse’ was built under R version 4.1.3”
Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0     ✔ purrr   1.0.1
✔ tibble  3.1.8     ✔ dplyr   1.1.0
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.3     ✔ forcats 1.0.0
Warning message:
“package ‘ggplot2’ was built under R version 4.1.3”
Warning message:
“package ‘tibble’ was built under R version 4.1.3”
Warning message:
“package ‘tidyr’ was built under R version 4.1.3”
Warning message:
“package ‘readr’ was built under R version 4.1.3”
Warning message:
“package ‘purrr’ was built under R version 4.1.3”
Warning message:
“package ‘dplyr’ was built under R version 4.1.3”
Warning message:
“package ‘stringr’ was built under R version 4.1.3”
Warning message:
“package ‘forcats’ was built under R version 4.1.3”
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: data.table

Warning message:
“package ‘data.table’ was built under R version 4.1.3”

Attaching package: ‘data.table’


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose


Loading required package: lubridate

Warning message:
“package ‘lubridate’ was built under R version 4.1.3”

Attaching package: ‘lubridate’


The following objects are masked from ‘package:data.table’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union


Loading required package: foreach

Warning message:
“package ‘foreach’ was built under R version 4.1.3”

Attaching package: ‘foreach’


The following objects are masked from ‘package:purrr’:

    accumulate, when


Loading required package: doParallel

Warning message:
“package ‘doParallel’ was built under R version 4.1.3”
Loading required package: iterators

Warning message:
“package ‘iterators’ was built under R version 4.1.3”
Loading required package: parallel

Loading required package: funtimes

Loading required package: tidyquant

Loading required package: PerformanceAnalytics

Loading required package: xts

Warning message:
“package ‘xts’ was built under R version 4.1.3”
Loading required package: zoo

Warning message:
“package ‘zoo’ was built under R version 4.1.3”

Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric



Attaching package: ‘xts’


The following objects are masked from ‘package:data.table’:

    first, last


The following objects are masked from ‘package:dplyr’:

    first, last



Attaching package: ‘PerformanceAnalytics’


The following object is masked from ‘package:graphics’:

    legend


Loading required package: quantmod

Warning message:
“package ‘quantmod’ was built under R version 4.1.3”
Loading required package: TTR

Warning message:
“package ‘TTR’ was built under R version 4.1.3”
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo

### Load data

In [2]:
df <- fread("data/IORD_ASHep-UE_34_20230120_LIMS.csv") %>%
    mutate(AttendanceStartDate = as.Date(AttendanceStartDate),
           CollectionDateTime = as.Date(CollectionDateTime)) %>%
    filter(AttendanceStartDate < as.Date("2023-01-01"))

age_df <- fread("data/IORD_ASHep-UE_34_20230120_Attendances.csv") %>%
    filter(AttendanceStartDate < as.Date("2023-01-01")) %>%
    mutate(AttendanceStartDate = as.Date(AttendanceStartDate),
           AttendanceEndDate = as.Date(AttendanceEndDate),
           LinkedBirthmonth = as.Date(LinkedBirthmonth)) %>%
    mutate(AttendanceMonth = cut(AttendanceStartDate, breaks = "month"),
           AttendanceTwoMonth = cut(AttendanceStartDate, breaks = "2 months")) %>%
    mutate(AttendanceMonth = as.Date(AttendanceMonth),
           AttendanceTwoMonth = as.Date(AttendanceTwoMonth)) %>%
    mutate(age_upon_presentation = time_length(AttendanceStartDate -
                                               LinkedBirthmonth, "year")) %>%
    mutate(age_upon_presentation = floor(age_upon_presentation)) %>% 
    mutate(age_group = case_when(age_upon_presentation < 7 ~ "<7",
                                 age_upon_presentation >= 6 & age_upon_presentation <= 15 ~ "7-15",
                                 age_upon_presentation >= 16 ~ ">15")) %>%
    arrange(AttendanceStartDate)

month_df <- df %>%
    mutate(CollectionMonth = cut(CollectionDateTime, breaks = "month")) %>%
    mutate(CollectionTwoMonths = cut(CollectionDateTime, breaks = "2 months")) %>%
    mutate(CollectionMonth = as.Date(CollectionMonth),
           CollectionTwoMonths = as.Date(CollectionTwoMonths)) %>%
    left_join(age_df) %>%
    arrange(AttendanceStartDate)

admission_df <- fread("data/IORD_ASHep-UE_34_20230120_InpatientSpells.csv") %>%
    filter(AttendanceStartDate < as.Date("2023-01-01")) %>%
    mutate(AttendanceStartDate = as.Date(AttendanceStartDate))

test_df <- fread("data/IORD_ASHep-UE_34_20230120_LIMS.csv") %>%
    mutate(CollectionDateTime = as.Date(CollectionDateTime),
           AttendanceStartDate = as.Date(AttendanceStartDate)) %>%
    filter(AttendanceStartDate < as.Date("2023-01-01"))

test_parsed <- test_df %>%
    distinct(ClusterID, AttendanceStartDate, TestName, .keep_all = T) %>%
    separate(RefRange, into = c("LLN", "ULN"), sep = "-") %>%
    mutate(ULN = as.numeric(ULN)) %>%
    select(-CollectionDateTime, -ReceiveDateTime) %>%
    mutate(Value = as.numeric(Value)) %>%
    mutate(Value = ifelse(is.na(Value), 0, Value)) %>%
    mutate(value_class = case_when(Value <= ULN ~ "Normal <= ULN",
                                 Value > ULN & Value <= 2 * ULN ~ "Mild (1-2x ULN)",
                                 Value > 2 * ULN & Value <= 5 * ULN  ~ "Moderate (2-5x ULN)",
                                 Value > 5 * ULN ~ "Severe (>5x ULN)")) %>%
    mutate(value_class = factor(value_class, c("Normal <= ULN", 
                                               "Mild (1-2x ULN)", 
                                               "Moderate (2-5x ULN)",
                                               "Severe (>5x ULN)"))) 

diag_df <- fread("data/IORD_ASHep-UE_34_20230120_DiagnosisCodes.csv") %>%
    left_join(fread("data/IORD_ASHep-UE_34_20230120_InpatientSpells.csv")) %>%
    mutate(AttendanceStartDate = as.Date(AttendanceStartDate)) %>%
    left_join(age_df) %>%
    mutate(age_upon_presentation = floor(age_upon_presentation)) %>% 
    mutate(age_group = case_when(age_upon_presentation < 7 ~ "<7",
                                 age_upon_presentation >= 6 & age_upon_presentation <= 15 ~ "7-15",
                                 age_upon_presentation >= 16 ~ ">15")) %>%
    mutate(AttendanceMonth = cut(AttendanceStartDate, breaks = "month"),
           AttendanceTwoMonth = cut(AttendanceStartDate, breaks = "2 months")) %>%
    mutate(AttendanceMonth = as.Date(AttendanceMonth),
           AttendanceTwoMonth = as.Date(AttendanceTwoMonth)) %>%
    arrange(AttendanceMonth) %>%
    distinct(ClusterID, AttendanceStartDate, DiagCode)

Joining with `by = join_by(ClusterID, AttendanceStartDate)`
Warning message in left_join(., age_df):
“Each row in `x` is expected to match at most 1 row in `y`.
ℹ Row 42 of `x` matches multiple rows.
ℹ If multiple matches are expected, set `multiple = "all"` to silence this warning.”
Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `ULN = as.numeric(ULN)`.
Caused by warning:
! NAs introduced by coercion”
Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `Value = as.numeric(Value)`.
Caused by warning:
! NAs introduced by coercion”
Joining with `by = join_by(ClusterID, SpellID)`
Warning message in left_join(., fread("data/IORD_ASHep-UE_34_20230120_InpatientSpells.csv")):
“Each row in `x` is expected to match at most 1 row in `y`.
ℹ Row 148 of `x` matches multiple rows.
ℹ If multiple matches are expected, set `multiple = "all"` to silence this warning.”
Joining with `by = join_by(ClusterID, AttendanceStartDate)`
Warning message in left_join(., age_df):
“Each row in `x` is expected to match at most 1 row in `y`.
ℹ Row 171 of `x` matches multiple rows.
ℹ If multiple matches are expected, set `multiple = "all"` to silence this warning.”

### Dataset range

In [3]:
total_number <- age_df %>%
    distinct(ClusterID, AttendanceStartDate) %>%
    nrow()

total_number

# Sex breakdown
count_df <- age_df %>%
    distinct(ClusterID, AttendanceStartDate, .keep_all = T) %>%
    group_by(age_group) %>%
    summarise(n_total = n())

age_df %>%
    distinct(ClusterID, AttendanceStartDate, LinkedSex) %>%
    group_by(LinkedSex) %>%
    summarise(n = n())

age_df %>%
    distinct(ClusterID, AttendanceStartDate, LinkedSex, .keep_all = T) %>%
    group_by(LinkedSex, age_group) %>%
    summarise(n = n()) %>%
    left_join(count_df) %>%
    mutate(prop = round(n / n_total * 100, 2))

# Age summary stats
age_df %>%
    distinct(ClusterID, AttendanceStartDate, age_upon_presentation) %>%
    summarise(median = median(age_upon_presentation),
              low_IQR = quantile(age_upon_presentation, prob = c(0.25)),
              high_IQR = quantile(age_upon_presentation, prob = c(0.75)))

age_df %>%
    distinct(ClusterID, AttendanceStartDate, .keep_all = T) %>%
    group_by(age_group) %>%
    summarise(median = median(age_upon_presentation),
              low_IQR = quantile(age_upon_presentation, prob = c(0.25)),
              high_IQR = quantile(age_upon_presentation, prob = c(0.75)))

# Ethnicity 
# age_df %>%
#     distinct(ClusterID, AttendanceStartDate, .keep_all = T) %>%
#     group_by(EthnicGroupCode) %>%
#     summarise(n = n())

# IMD score
age_df %>%
    distinct(ClusterID, AttendanceStartDate, .keep_all = T) %>%
    mutate(IMDScore = as.numeric(IMDScore)) %>%
    filter(!is.na(IMDScore)) %>%
    group_by(age_group) %>%
    summarise(median_IMD2 = quantile(IMDScore, prob = c(0.2)),
             median_IMD4 = quantile(IMDScore, prob = c(0.4)),
             median_IMD6 = quantile(IMDScore, prob = c(0.6)),
             median_IMD8 = quantile(IMDScore, prob = c(0.8)))

# Attendance per month
age_df %>%
    distinct(ClusterID, AttendanceStartDate, .keep_all = T) %>%
    group_by(AttendanceMonth) %>%
    summarise(n_admit = n()) %>%
    summarise(median_admit = median(n_admit))

[1] 903433

  LinkedSex n
1 F         461632
2 I             16
3 M         441780
4 U              5

`summarise()` has grouped output by 'LinkedSex'. You can override using the `.groups` argument.
Joining with `by = join_by(age_group)`

  LinkedSex age_group n      n_total prop
1 F         7-15       39498  86217  45.81
2 F         <7         30446  70962  42.90
3 F         >15       391688 746254  52.49
4 I         7-15           4  86217   0.00
5 I         >15           12 746254   0.00
6 M         7-15       46715  86217  54.18
7 M         <7         40516  70962  57.10
8 M         >15       354549 746254  47.51
9 U         >15            5 746254   0.00

  median low_IQR high_IQR
1 44     22      69

  age_group median low_IQR high_IQR
1 7-15      11      9      13
2 <7         3      2       5
3 >15       53     32      74

Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `IMDScore = as.numeric(IMDScore)`.
Caused by warning:
! NAs introduced by coercion”

  age_group median_IMD2 median_IMD4 median_IMD6 median_IMD8
1 7-15      5.792       8.982       13.215      20.4810
2 <7        5.904       9.156       13.619      21.4902
3 >15       6.061       9.193       13.444      20.2410

  median_admit
1 11023

In [8]:
age_df %>%
    distinct(ClusterID, AttendanceStartDate, .keep_all = T) %>%
    group_by(age_group) %>%
    summarise(n = n()) %>% 
    mutate(n / sum(n))

  age_group n      n/sum(n)
1 7-15       86217 0.09543264
2 <7         70962 0.07854705
3 >15       746254 0.82602030

### Admissions

In [21]:
admit_attendance_df

       ClusterID AttendanceStartDate AttendanceEndDate LocationAttended
1       1716156  2016-03-01          16861             J-WD JR_Chi CDU
2       2077289  2016-03-01          16861             J-ED
3       1458610  2016-03-01          16861             J-ED
4       1981154  2016-03-01          16861             J-ED
5       3950138  2016-03-01          16862             J-ED
6       6834862  2016-03-01          16862             J-WD EAU
7       5079218  2016-03-01          16862             J-ED
8       8098274  2016-03-01          16861             J-ED
9          5302  2016-03-01          16861             J-ED
10      1531442  2016-03-01          16913             J-WD SEU Triage
11      3394475  2016-03-01          16861             J-ED
12     10731936  2016-03-01          16861             J-ED
13       227731  2016-03-01          16862             J-ED
14       849312  2016-03-01          16861             J-ED
15      4311348  2016-03-01          16861             J-ED
16      4271168  2016-03-01          16861             J-ED
17      4278252  2016-03-01          16861             J-WD SEU Triage
18      2563792  2016-03-01          16861             J-ED
19      1578054  2016-03-01          16870             J-WD SEU Triage
20      2378671  2016-03-01          16861             J-ED
21      2387418  2016-03-01          16861             J-ED
22      3520866  2016-03-01          16861             J-ED
23      2859763  2016-03-01          16861             J-ED
24      8844102  2016-03-01          16862             H-WD EAU
25        13925  2016-03-01          16861             J-ED
26      1278402  2016-03-01          16863             J-WD EAU
27       118515  2016-03-01          16862             J-ED
28       349565  2016-03-01          16861             J-ED
29      3497425  2016-03-01          16861             J-ED
30      3497840  2016-03-01          16861             J-ED
⋮      ⋮         ⋮                   ⋮                 ⋮
903404 5348574   2022-12-31          19357             J-ED
903405 4677444   2022-12-31          19357             J-WD L4 AAU
903406 6274679   2022-12-31          19359             J-WD SEU Triage
903407 1064666   2022-12-31          19358             J-WD L4 AAU
903408 3849087   2022-12-31          19358             J-ED
903409  310502   2022-12-31          19358             J-ED
903410 1038702   2022-12-31          19360             J-WD L4 AAU
903411 6932053   2022-12-31          19358             J-ED
903412  749433   2022-12-31          19357             J-ED
903413 1628009   2022-12-31          19357             J-WD L4 AAU
903414 3975958   2022-12-31          19359             J-WD L4 AAU
903415  129478   2022-12-31          19357             J-WD L4 AAU
903416  880847   2022-12-31          19357             J-ED
903417 1105164   2022-12-31          19357             J-ED
903418 3170956   2022-12-31          19358             J-ED
903419 5062574   2022-12-31          19357             J-ED
903420 2552909   2022-12-31          19357             J-WD JR_Chi CDU
903421 7297276   2022-12-31          19358             J-ED
903422  323076   2022-12-31          19357             J-WD L4 AAU
903423 1800122   2022-12-31          19357             J-ED
903424 1472011   2022-12-31          19358             J-ED
903425 1480227   2022-12-31          19357             J-ED
903426  311624   2022-12-31          19357             J-ED
903427 1100813   2022-12-31          19358             J-ED
903428 1165251   2022-12-31          19357             J-WD EAU
903429 7307890   2022-12-31          19357             J-ED
903430 1698722   2022-12-31          19358             J-ED
903431  929726   2022-12-31          19357             J-ED
903432 2689994   2022-12-31          19358             J-WD L4 AAU
903433 4917205   2022-12-31          19357             J-ED
       IMDScore EthnicGroupCode LinkedSex LinkedBirthmonth LinkedDeathdate
1      27.969   A               F         2007-10-01       2030-01-14
2      5.173    A               M         1946-03-01       2030-01-14
3      25.391   Z               M         1995-12-01       2030-01-14
4      20.047   L               M         2002-12-01       2030-01-14
5      7.879    A               M         1984-12-01       2030-01-14
6      9.802    A               F         1924-02-01       2019-09-19
7      5.41     A               M         1932-10-01       2019-04-08
8      11.728   A               F         2004-04-01       2030-01-14
9      8.88     C               M         2004-11-01       2030-01-14
10     11.616   Z               M         1950-01-01       2030-01-14
11     15.516   A               F         1930-07-01       2030-01-14
12     12.448   Z               F         1960-11-01       2030-01-14
13     11.21    A               M         1966-02-01       2030-01-14
14     15.272   S               F         1983-04-01       2030-01-14
15     NULL     C               F         1994-04-01       2030-01-14
16     9.796    A               M         1969-11-01       2030-01-14
17     11.941   A               F         1961-01-01       2030-01-14
18     18.117   A               F         1932-12-01       2030-01-14
19     6.148    Z               M         1946-12-01       2030-01-14
20     22.912   C               M         1988-07-01       2030-01-14
21     10.025   A               M         1940-10-01       2018-07-06
22     33.201   A               M         1993-11-01       2030-01-14
23     14.308   A               M         1997-08-01       2030-01-14
24     6.372    A               M         1951-04-01       2022-04-17
25     30.458   L               M         2004-02-01       2030-01-14
26     25.369   A               M         1939-09-01       2016-03-16
27     15.25    A               M         2013-06-01       2030-01-14
28     11.078   A               F         1955-09-01       2030-01-14
29     18.117   A               F         1932-06-01       2030-01-14
30     2.209    A               M         1990-02-01       2030-01-14
⋮      ⋮        ⋮               ⋮         ⋮                ⋮
903404 11.647   A               M         2014-05-01       2030-01-14
903405 15.02    B               F         1967-01-01       2030-01-14
903406 2.978    Z               M         1992-12-01       2030-01-14
903407 14.361   Z               F         1947-12-01       2030-01-14
903408 13.076   S               M         1956-12-01       2030-01-14
903409 9.515    Z               M         1936-08-01       2030-01-14
903410 2.757    A               M         1954-04-01       2030-01-14
903411 13.394   A               F         1925-05-01       2030-01-14
903412 NULL     Z               F         1991-03-01       2030-01-14
903413 8.292    Z               F         1958-02-01       2030-01-14
903414 8.238    A               M         1957-01-01       2030-01-14
903415 7.119    A               F         1943-07-01       2030-01-14
903416 39.519   N               M         2009-05-01       2030-01-14
903417 NULL     C               F         1946-03-01       2030-01-14
903418 NULL     S               F         2020-04-01       2030-01-14
903419 12.638   99              M         1967-02-01       2030-01-14
903420 4.875    H               M         2007-11-01       2030-01-14
903421 21.345   A               F         1965-03-01       2030-01-14
903422 6.061    A               M         1947-04-01       2030-01-14
903423 10.254   Z               M         1957-08-01       2030-01-14
903424 23.335   A               F         1962-11-01       2030-01-14
903425 14.778   A               F         1964-02-01       2030-01-14
903426 10.845   A               F         1996-03-01       2030-01-14
903427 24.433   A               M         1984-12-01       2030-01-14
903428 5.322    A               M         1953-01-01       2030-01-14
903429 27.993   E               F         2020-06-01       2030-01-14
903430 4.119    A               M         1939-11-01       2030-01-14
903431 8.271    A               F         1940-02-01       2030-01-14
903432 14.361   A               F         1934-03-01       2030-01-14
903433 10.094   A               F         1950-10-01       2030-01-14
       SpineCheckDate          ⋯ age_group SpellID    AdmissionDate
1      2023-01-14 14:00:08.433 ⋯ 7-15      NA         <NA>
2      2023-01-11 14:00:09.793 ⋯ >15       3734500    2016-03-01 13:54:00
3      2023-01-16 14:00:15.287 ⋯ >15       NA         <NA>
4      2023-01-13 11:00:10.767 ⋯ 7-15      NA         <NA>
5      2023-01-11 17:00:08.747 ⋯ >15       NA         <NA>
6      2021-12-11 11:00:06.790 ⋯ >15       3735180    2016-03-01 14:24:00
7      2021-12-11 11:00:06.790 ⋯ >15       3735888    2016-03-01 19:50:00
8      2023-01-10 17:00:10.237 ⋯ 7-15      NA         <NA>
9      2023-01-19 11:00:09.643 ⋯ 7-15      NA         <NA>
10     2023-01-11 17:00:08.747 ⋯ >15       3735933    2016-03-01 18:09:00
11     2021-12-28 17:00:03.447 ⋯ >15       3735926    2016-03-01 19:16:00
12     2023-01-10 17:00:10.237 ⋯ >15       NA         <NA>
13     2023-01-19 11:00:09.643 ⋯ >15       3734881    2016-03-01 22:40:00
14     2023-01-13 14:00:26.133 ⋯ >15       NA         <NA>
15     NULL                    ⋯ >15       NA         <NA>
16     2023-01-16 14:00:15.287 ⋯ >15       NA         <NA>
17     2023-01-15 14:00:07.830 ⋯ >15       NA         <NA>
18     2023-01-12 14:00:11.137 ⋯ >15       3733145    2016-03-01 07:54:00
19     2023-01-08 17:00:08.560 ⋯ >15       3736117    2016-03-01 22:35:00
20     2023-01-18 11:00:10.367 ⋯ >15       NA         <NA>
21     2021-12-11 11:00:06.790 ⋯ >15       NA         <NA>
22     2023-01-15 14:00:07.830 ⋯ >15       NA         <NA>
23     2023-01-18 14:00:10.977 ⋯ >15       NA         <NA>
24     2022-07-24 13:00:09.100 ⋯ >15       3735972    2016-03-01 18:51:00
25     2023-01-17 17:00:09.563 ⋯ 7-15      NA         <NA>
26     2021-12-11 11:00:06.790 ⋯ >15       3735434    2016-03-01 15:12:00
27     2023-01-13 14:00:26.133 ⋯ <7        3736102    2016-03-02 00:28:00
28     2023-01-07 11:00:08.637 ⋯ >15       NA         <NA>
29     2023-01-08 11:00:07.963 ⋯ >15       3734599    2016-03-01 12:35:00
30     2023-01-07 14:00:09.880 ⋯ >15       NA         <NA>
⋮      ⋮                       ⋱ ⋮         ⋮          ⋮
903404 2023-01-14 14:00:08.433 ⋯ 7-15      9836643    2022-12-31 15:50:19
903405 2023-01-15 11:00:07.837 ⋯ >15       NA         <NA>
903406 2023-01-13 11:00:10.767 ⋯ >15       9836498    2022-12-31 09:30:00
903407 2023-01-18 14:00:10.977 ⋯ >15       9836735    2022-12-31 14:52:00
903408 2023-01-10 14:00:11.503 ⋯ >15       9836343    2022-12-31 11:50:51
903409 2023-01-12 11:00:11.067 ⋯ >15       9836701    2022-12-31 16:32:55
903410 2023-01-08 14:00:07.847 ⋯ >15       9836450    2022-12-31 08:52:00
903411 2023-01-13 17:00:08.443 ⋯ >15       9836755    2023-01-01 00:59:17
903412 2023-01-06 17:00:08.027 ⋯ >15       NA         <NA>
903413 2023-01-18 17:00:09.057 ⋯ >15       NA         <NA>
903414 2020-10-05 15:00:05.517 ⋯ >15       9836600    2022-12-31 11:45:00
903415 2023-01-08 11:00:07.963 ⋯ >15       NA         <NA>
903416 2023-01-12 14:00:11.137 ⋯ 7-15      9836765    2022-12-31 17:34:56
903417 2023-01-17 17:00:09.563 ⋯ >15       9836522    2022-12-31 11:18:49
903418 NULL                    ⋯ <7        NA         <NA>
903419 NULL                    ⋯ >15       NA         <NA>
903420 2023-01-10 17:00:10.237 ⋯ 7-15      NA         <NA>
903421 NULL                    ⋯ >15       NA         <NA>
903422 2023-01-15 11:00:07.837 ⋯ >15       9836585    2022-12-31 11:22:00
903423 2023-01-17 11:00:10.573 ⋯ >15       NA         <NA>
903424 2023-01-07 11:00:08.637 ⋯ >15       9836858    2022-12-31 23:36:07
903425 2023-01-15 14:00:07.830 ⋯ >15       NA         <NA>
903426 2023-01-10 17:00:10.237 ⋯ >15       NA         <NA>
903427 2023-01-15 11:00:07.837 ⋯ >15       NA         <NA>
903428 2023-01-18 11:00:10.367 ⋯ >15       NA         <NA>
903429 2023-01-08 11:00:07.963 ⋯ <7        NA         <NA>
903430 2023-01-08 11:00:07.963 ⋯ >15       9836766    2022-12-31 19:11:49
903431 2023-01-17 17:00:09.563 ⋯ >15       NA         <NA>
903432 2023-01-07 11:00:08.637 ⋯ >15       9836475    2022-12-31 09:09:00
903433 2023-01-12 11:00:11.067 ⋯ >15       NA         <NA>
       DischargeDate           DischargeDestinationCode
1      NA                      NA
2      2016-03-07 15:10:00.000 19
3      NA                      NA
4      NA                      NA
5      NA                      NA
6      2016-03-02 16:10:00.000 19
7      2016-03-04 15:00:00.000 19
8      NA                      NA
9      NA                      NA
10     2016-04-22 13:00:00.000 19
11     2016-03-11 16:20:00.000 19
12     NA                      NA
13     2016-03-02 17:10:00.000 19
14     NA                      NA
15     NA                      NA
16     NA                      NA
17     NA                      NA
18     2016-03-07 18:00:00.000 19
19     2016-03-10 11:15:00.000 19
20     NA                      NA
21     NA                      NA
22     NA                      NA
23     NA                      NA
24     2016-03-04 17:45:00.000 19
25     NA                      NA
26     2016-03-03 14:50:00.000 19
27     2016-03-02 22:40:00.000 51
28     NA                      NA
29     2016-03-13 18:15:00.000 19
30     NA                      NA
⋮      ⋮                       ⋮
903404 2023-01-01 10:00:00.000 19
903405 NA                      NA
903406 2023-01-02 16:00:00.000 98
903407 2023-01-01 14:15:00.000 19
903408 2023-01-01 15:50:00.000 19
903409 2023-01-04 16:15:00.000 19
903410 2023-01-06 13:30:00.000 19
903411 2023-01-06 09:30:00.000 19
903412 NA                      NA
903413 NA                      NA
903414 2023-01-04 13:45:00.000 19
903415 NA                      NA
903416 2023-01-01 11:20:00.000 19
903417 2023-01-11 13:50:00.000 98
903418 NA                      NA
903419 NA                      NA
903420 NA                      NA
903421 NA                      NA
903422 2023-01-02 19:35:32.000 19
903423 NA                      NA
903424 2023-01-04 18:30:00.000 19
903425 NA                      NA
903426 NA                      NA
903427 NA                      NA
903428 NA                      NA
903429 NA                      NA
903430 2023-01-07 16:07:31.000 87
903431 NA                      NA
903432 2023-01-01 11:10:00.000 19
903433 NA                      NA
       SpellIncludesCriticalCareAdmission duration is_admitted is_icu is_death
1      NA                                 NA days  FALSE       FALSE  FALSE
2       0                                  6 days   TRUE        TRUE  FALSE
3      NA                                 NA days  FALSE       FALSE  FALSE
4      NA                                 NA days  FALSE       FALSE  FALSE
5      NA                                 NA days  FALSE       FALSE  FALSE
6       0                                  1 days   TRUE        TRUE  FALSE
7       0                                  3 days   TRUE        TRUE  FALSE
8      NA                                 NA days  FALSE       FALSE  FALSE
9      NA                                 NA days  FALSE       FALSE  FALSE
10      0                                 52 days   TRUE        TRUE  FALSE
11      0                                 10 days   TRUE        TRUE  FALSE
12     NA                                 NA days  FALSE       FALSE  FALSE
13      0                                  1 days   TRUE        TRUE  FALSE
14     NA                                 NA days  FALSE       FALSE  FALSE
15     NA                                 NA days  FALSE       FALSE  FALSE
16     NA                                 NA days  FALSE       FALSE  FALSE
17     NA                                 NA days  FALSE       FALSE  FALSE
18      0                                  6 days   TRUE        TRUE  FALSE
19      0                                  9 days   TRUE        TRUE  FALSE
20     NA                                 NA days  FALSE       FALSE  FALSE
21     NA                                 NA days  FALSE       FALSE  FALSE
22     NA                                 NA days  FALSE       FALSE  FALSE
23     NA                                 NA days  FALSE       FALSE  FALSE
24      0                                  3 days   TRUE        TRUE  FALSE
25     NA                                 NA days  FALSE       FALSE  FALSE
26      0                                  2 days   TRUE        TRUE  FALSE
27      0                                  0 days   TRUE        TRUE  FALSE
28     NA                                 NA days  FALSE       FALSE  FALSE
29      0                                 12 days   TRUE        TRUE  FALSE
30     NA                                 NA days  FALSE       FALSE  FALSE
⋮      ⋮                                  ⋮        ⋮           ⋮      ⋮
903404  0                                  1 days   TRUE        TRUE  FALSE
903405 NA                                 NA days  FALSE       FALSE  FALSE
903406  0                                  2 days   TRUE        TRUE  FALSE
903407  0                                  1 days   TRUE        TRUE  FALSE
903408  0                                  1 days   TRUE        TRUE  FALSE
903409  0                                  4 days   TRUE        TRUE  FALSE
903410  0                                  6 days   TRUE        TRUE  FALSE
903411  1                                  5 days   TRUE        TRUE  FALSE
903412 NA                                 NA days  FALSE       FALSE  FALSE
903413 NA                                 NA days  FALSE       FALSE  FALSE
903414  0                                  4 days   TRUE        TRUE  FALSE
903415 NA                                 NA days  FALSE       FALSE  FALSE
903416  0                                  1 days   TRUE        TRUE  FALSE
903417  0                                 11 days   TRUE        TRUE  FALSE
903418 NA                                 NA days  FALSE       FALSE  FALSE
903419 NA                                 NA days  FALSE       FALSE  FALSE
903420 NA                                 NA days  FALSE       FALSE  FALSE
903421 NA                                 NA days  FALSE       FALSE  FALSE
903422  0                                  2 days   TRUE        TRUE  FALSE
903423 NA                                 NA days  FALSE       FALSE  FALSE
903424  0                                  4 days   TRUE        TRUE  FALSE
903425 NA                                 NA days  FALSE       FALSE  FALSE
903426 NA                                 NA days  FALSE       FALSE  FALSE
903427 NA                                 NA days  FALSE       FALSE  FALSE
903428 NA                                 NA days  FALSE       FALSE  FALSE
903429 NA                                 NA days  FALSE       FALSE  FALSE
903430  0                                  7 days   TRUE        TRUE  FALSE
903431 NA                                 NA days  FALSE       FALSE  FALSE
903432  0                                  1 days   TRUE        TRUE  FALSE
903433 NA                                 NA days  FALSE       FALSE  FALSE

In [22]:
admit_attendance_df <- age_df %>%
    left_join(admission_df) %>%
    distinct(ClusterID, AttendanceStartDate, .keep_all = T) %>%
    mutate(LinkedDeathdate = ifelse(LinkedDeathdate == "NULL", "2030-01-14 14:00:08.433", LinkedDeathdate),
           duration = as.Date(DischargeDate) - as.Date(AdmissionDate)) %>%
    mutate(AttendanceEndDate = ifelse(is.na(AttendanceEndDate), as.Date(DischargeDate), as.Date(AttendanceEndDate))) %>%
    mutate(LinkedDeathdate = as.Date(LinkedDeathdate)) %>%
    mutate(is_admitted = ifelse(is.na(AdmissionDate), F, T),
           is_icu = ifelse(SpellIncludesCriticalCareAdmission == 1, T, F),
           is_death = ifelse(LinkedDeathdate >= AttendanceStartDate &
                             LinkedDeathdate <= AttendanceEndDate, T, F))
#     mutate(is_icu = ifelse(is.na(is_icu), F, T))

# Admission duration
admit_attendance_df %>%
    filter(!is.na(AdmissionDate),
           DischargeDate != "NULL") %>%
    group_by(age_group) %>%
    summarise(median_duration = median(duration),
              duration_low = quantile(duration, probs = c(0.25)),
              duration_high = quantile(duration, probs = c(0.75)))
# Admission, ICU, death rate by age
admit_attendance_df %>%
    group_by(age_group) %>%
    summarise(admit_rate = round(sum(is_admitted, na.rm = T) / n() * 100, 1),
              icu_rate = round(sum(is_icu, na.rm = T) / n() * 100, 1),
              death_rate = round(sum(is_death, na.rm = T) / n() * 100, 2))
# Overall Admission, ICU, death rate
admit_attendance_df %>%
    summarise(admit_rate = round(sum(is_admitted, na.rm = T) / n() * 100, 1),
              icu_rate = round(sum(is_icu, na.rm = T) / n() * 100, 1),
              death_rate = round(sum(is_death, na.rm = T) / n() * 100, 2))

Joining with `by = join_by(ClusterID, AttendanceStartDate)`
Warning message in left_join(., admission_df):
“Each row in `x` is expected to match at most 1 row in `y`.
ℹ Row 18 of `x` matches multiple rows.
ℹ If multiple matches are expected, set `multiple = "all"` to silence this warning.”

  age_group median_duration duration_low duration_high
1 7-15      1 days          1 days       2 days
2 <7        1 days          0 days       2 days
3 >15       2 days          1 days       7 days

  age_group admit_rate icu_rate death_rate
1 7-15      13.2       0.3      0.01
2 <7        17.0       0.4      0.01
3 >15       34.3       1.5      0.41

  admit_rate icu_rate death_rate
1 30.9       1.3      0.34

### Biomarker tests

In [11]:
test_names <- c("ALT", "AST", "ALK.PHOSPHATASE", "BILIRUBIN", "ALBUMIN", "GGT",
               "CRP", "WHITE CELLS")
tests <- admit_attendance_df %>%
    right_join(test_parsed) %>%
    filter(TestName %in% test_names)

Joining with `by = join_by(ClusterID, AttendanceStartDate)`
Warning message in right_join(., test_parsed):
“Each row in `x` is expected to match at most 1 row in `y`.
ℹ Row 2 of `x` matches multiple rows.
ℹ If multiple matches are expected, set `multiple = "all"` to silence this warning.”

In [16]:
test_summary <- admit_attendance_df %>%
    left_join(test_parsed) %>%
    group_by(ClusterID, AttendanceStartDate) %>%
    summarise(n_tests = n_distinct(TestName, na.rm = T),
              n_ALT = sum(TestName == "ALT", na.rm = T),
              n_AST = sum(TestName == "AST", na.rm = T)) %>%
    ungroup()

# Prop. of patients tested
test_summary %>%
    summarise(sum(n_tests > 0) / nrow(test_summary))

n_pat_with_tests <- deframe(test_summary %>%
    summarise(sum(n_tests > 0)))

# Prop. with ALT test
test_summary %>%
    summarise(sum(n_ALT > 0) / n_pat_with_tests)

# Prop. with AST test
test_summary %>%
    summarise(sum(n_AST > 0) / n_pat_with_tests)

Joining with `by = join_by(ClusterID, AttendanceStartDate)`
Warning message in left_join(., test_parsed):
“Each row in `x` is expected to match at most 1 row in `y`.
ℹ Row 2 of `x` matches multiple rows.
ℹ If multiple matches are expected, set `multiple = "all"` to silence this warning.”
`summarise()` has grouped output by 'ClusterID'. You can override using the `.groups` argument.

  sum(n_tests > 0)/nrow(test_summary)
1 0.5880912

  sum(n_ALT > 0)/n_pat_with_tests
1 0.9034954

  sum(n_AST > 0)/n_pat_with_tests
1 0.0117504

In [14]:
test_df %>% distinct(TestName, RefRange, Units)

   TestName        RefRange Units
1  ALBUMIN         32-50    g/L
2  CRP             0-5      mg/L
3  EOSINOPHILS     0.0-0.5  x10*9/L
4  WHITE CELLS     4.0-11.0 x10*9/L
5  PLATELETS       150-400  x10*9/L
6  ALK.PHOSPHATASE 30-130   IU/L
7  ALT             10-45    IU/L
8  MONOCYTES       0.2-1.0  x10*9/L
9  NEUTROPHILS     2.0-7.0  x10*9/L
10 BILIRUBIN       0-21     umol/L
11 BASOPHILS       0.0-0.1  x10*9/L
12 LYMPHOCYTES     1.0-4.0  x10*9/L
13 AST             15-42    IU/L
14 GGT             15-40    IU/L
15 BILIRUBIN       ?-?      NULL

In [8]:
for (test in test_names) {
    stat_temp <- tests %>%
        mutate(age_group = factor(age_group, c("<7", "7-15", ">15"))) %>%
        filter(TestName == test) %>%
        group_by(age_group) %>%
        summarise(median_test = median(Value),
                  test_low = quantile(Value, probs = c(0.25)),
                  test_high = quantile(Value, probs = c(0.75)))
    print(test)
    print(stat_temp)
}

[1] "ALT"
# A tibble: 3 × 4
  age_group median_test test_low test_high
  <fct>           <dbl>    <dbl>     <dbl>
1 <7                 15       12        21
2 7-15               14       11        20
3 >15                19       13        30
[1] "AST"
# A tibble: 3 × 4
  age_group median_test test_low test_high
  <fct>           <dbl>    <dbl>     <dbl>
1 <7                 41       31      144.
2 7-15               33       21      119
3 >15                41       22      110.
[1] "ALK.PHOSPHATASE"
# A tibble: 3 × 4
  age_group median_test test_low test_high
  <fct>           <dbl>    <dbl>     <dbl>
1 <7                195      160       237
2 7-15              181      115       247
3 >15                79       64       101
[1] "BILIRUBIN"
# A tibble: 3 × 4
  age_group median_test test_low test_high
  <fct>           <dbl>    <dbl>     <dbl>
1 <7                  5        3         7
2 7-15                7        5        11
3 >15                 9        6        14
[1] "ALBUMIN"
# A tibble: 3 × 4
  age_group median_test test_low test_high
  <fct>           <dbl>    <dbl>     <dbl>
1 <7                 38       35        40
2 7-15               40       38        43
3 >15                37       33        40
[1] "GGT"
# A tibble: 3 × 4
  age_group median_test test_low test_high
  <fct>           <dbl>    <dbl>     <dbl>
1 <7                 17       10     104.
2 7-15               20       13      61.8
3 >15                85       31     280
[1] "CRP"
# A tibble: 3 × 4
  age_group median_test test_low test_high
  <fct>           <dbl>    <dbl>     <dbl>
1 <7               10        1.3      42.3
2 7-15              2.5      0.4      20.5
3 >15               8.6      2.1      43.4
[1] "WHITE CELLS"
# A tibble: 3 × 4
  age_group median_test test_low test_high
  <fct>           <dbl>    <dbl>     <dbl>
1 <7              10.0      7.51      13.8
2 7-15             8.53     6.58      11.5
3 >15              8.87     6.9       11.6

In [15]:
tests

        ClusterID AttendanceStartDate AttendanceEndDate LocationAttended
1       2077289   2016-03-01          16861             J-ED
2       2077289   2016-03-01          16861             J-ED
3       2077289   2016-03-01          16861             J-ED
4       2077289   2016-03-01          16861             J-ED
5       2077289   2016-03-01          16861             J-ED
6       2077289   2016-03-01          16861             J-ED
7       6834862   2016-03-01          16862             J-WD EAU
8       6834862   2016-03-01          16862             J-WD EAU
9       6834862   2016-03-01          16862             J-WD EAU
10      6834862   2016-03-01          16862             J-WD EAU
11      6834862   2016-03-01          16862             J-WD EAU
12      6834862   2016-03-01          16862             J-WD EAU
13      5079218   2016-03-01          16862             J-ED
14      5079218   2016-03-01          16862             J-ED
15      5079218   2016-03-01          16862             J-ED
16      5079218   2016-03-01          16862             J-ED
17      5079218   2016-03-01          16862             J-ED
18      5079218   2016-03-01          16862             J-ED
19      1531442   2016-03-01          16913             J-WD SEU Triage
20      1531442   2016-03-01          16913             J-WD SEU Triage
21      1531442   2016-03-01          16913             J-WD SEU Triage
22      1531442   2016-03-01          16913             J-WD SEU Triage
23      1531442   2016-03-01          16913             J-WD SEU Triage
24      1531442   2016-03-01          16913             J-WD SEU Triage
25      3394475   2016-03-01          16861             J-ED
26      3394475   2016-03-01          16861             J-ED
27      3394475   2016-03-01          16861             J-ED
28      3394475   2016-03-01          16861             J-ED
29      3394475   2016-03-01          16861             J-ED
30      3394475   2016-03-01          16861             J-ED
⋮       ⋮         ⋮                   ⋮                 ⋮
2880305  311624   2022-12-31          19357             J-ED
2880306 1100813   2022-12-31          19358             J-ED
2880307 1100813   2022-12-31          19358             J-ED
2880308 1100813   2022-12-31          19358             J-ED
2880309 1100813   2022-12-31          19358             J-ED
2880310 1100813   2022-12-31          19358             J-ED
2880311 1100813   2022-12-31          19358             J-ED
2880312 1165251   2022-12-31          19357             J-WD EAU
2880313 1165251   2022-12-31          19357             J-WD EAU
2880314 1165251   2022-12-31          19357             J-WD EAU
2880315 1165251   2022-12-31          19357             J-WD EAU
2880316 1165251   2022-12-31          19357             J-WD EAU
2880317 1165251   2022-12-31          19357             J-WD EAU
2880318 1698722   2022-12-31          19358             J-ED
2880319 1698722   2022-12-31          19358             J-ED
2880320 1698722   2022-12-31          19358             J-ED
2880321 1698722   2022-12-31          19358             J-ED
2880322 1698722   2022-12-31          19358             J-ED
2880323 1698722   2022-12-31          19358             J-ED
2880324  929726   2022-12-31          19357             J-ED
2880325  929726   2022-12-31          19357             J-ED
2880326  929726   2022-12-31          19357             J-ED
2880327  929726   2022-12-31          19357             J-ED
2880328  929726   2022-12-31          19357             J-ED
2880329 4917205   2022-12-31          19357             J-ED
2880330 4917205   2022-12-31          19357             J-ED
2880331 4917205   2022-12-31          19357             J-ED
2880332 4917205   2022-12-31          19357             J-ED
2880333 4917205   2022-12-31          19357             J-ED
2880334 4917205   2022-12-31          19357             J-ED
        IMDScore EthnicGroupCode LinkedSex LinkedBirthmonth LinkedDeathdate
1       5.173    A               M         1946-03-01       2030-01-14
2       5.173    A               M         1946-03-01       2030-01-14
3       5.173    A               M         1946-03-01       2030-01-14
4       5.173    A               M         1946-03-01       2030-01-14
5       5.173    A               M         1946-03-01       2030-01-14
6       5.173    A               M         1946-03-01       2030-01-14
7       9.802    A               F         1924-02-01       2019-09-19
8       9.802    A               F         1924-02-01       2019-09-19
9       9.802    A               F         1924-02-01       2019-09-19
10      9.802    A               F         1924-02-01       2019-09-19
11      9.802    A               F         1924-02-01       2019-09-19
12      9.802    A               F         1924-02-01       2019-09-19
13      5.41     A               M         1932-10-01       2019-04-08
14      5.41     A               M         1932-10-01       2019-04-08
15      5.41     A               M         1932-10-01       2019-04-08
16      5.41     A               M         1932-10-01       2019-04-08
17      5.41     A               M         1932-10-01       2019-04-08
18      5.41     A               M         1932-10-01       2019-04-08
19      11.616   Z               M         1950-01-01       2030-01-14
20      11.616   Z               M         1950-01-01       2030-01-14
21      11.616   Z               M         1950-01-01       2030-01-14
22      11.616   Z               M         1950-01-01       2030-01-14
23      11.616   Z               M         1950-01-01       2030-01-14
24      11.616   Z               M         1950-01-01       2030-01-14
25      15.516   A               F         1930-07-01       2030-01-14
26      15.516   A               F         1930-07-01       2030-01-14
27      15.516   A               F         1930-07-01       2030-01-14
28      15.516   A               F         1930-07-01       2030-01-14
29      15.516   A               F         1930-07-01       2030-01-14
30      15.516   A               F         1930-07-01       2030-01-14
⋮       ⋮        ⋮               ⋮         ⋮                ⋮
2880305 10.845   A               F         1996-03-01       2030-01-14
2880306 24.433   A               M         1984-12-01       2030-01-14
2880307 24.433   A               M         1984-12-01       2030-01-14
2880308 24.433   A               M         1984-12-01       2030-01-14
2880309 24.433   A               M         1984-12-01       2030-01-14
2880310 24.433   A               M         1984-12-01       2030-01-14
2880311 24.433   A               M         1984-12-01       2030-01-14
2880312 5.322    A               M         1953-01-01       2030-01-14
2880313 5.322    A               M         1953-01-01       2030-01-14
2880314 5.322    A               M         1953-01-01       2030-01-14
2880315 5.322    A               M         1953-01-01       2030-01-14
2880316 5.322    A               M         1953-01-01       2030-01-14
2880317 5.322    A               M         1953-01-01       2030-01-14
2880318 4.119    A               M         1939-11-01       2030-01-14
2880319 4.119    A               M         1939-11-01       2030-01-14
2880320 4.119    A               M         1939-11-01       2030-01-14
2880321 4.119    A               M         1939-11-01       2030-01-14
2880322 4.119    A               M         1939-11-01       2030-01-14
2880323 4.119    A               M         1939-11-01       2030-01-14
2880324 8.271    A               F         1940-02-01       2030-01-14
2880325 8.271    A               F         1940-02-01       2030-01-14
2880326 8.271    A               F         1940-02-01       2030-01-14
2880327 8.271    A               F         1940-02-01       2030-01-14
2880328 8.271    A               F         1940-02-01       2030-01-14
2880329 10.094   A               F         1950-10-01       2030-01-14
2880330 10.094   A               F         1950-10-01       2030-01-14
2880331 10.094   A               F         1950-10-01       2030-01-14
2880332 10.094   A               F         1950-10-01       2030-01-14
2880333 10.094   A               F         1950-10-01       2030-01-14
2880334 10.094   A               F         1950-10-01       2030-01-14
        SpineCheckDate          ⋯ is_icu is_death CollectionID SetName
1       2023-01-11 14:00:09.793 ⋯ TRUE   FALSE    N6918463     A2
2       2023-01-11 14:00:09.793 ⋯ TRUE   FALSE    N6918463     A2
3       2023-01-11 14:00:09.793 ⋯ TRUE   FALSE    N6918463     A2
4       2023-01-11 14:00:09.793 ⋯ TRUE   FALSE    N6918462     FBC
5       2023-01-11 14:00:09.793 ⋯ TRUE   FALSE    N6918463     A2
6       2023-01-11 14:00:09.793 ⋯ TRUE   FALSE    N6918463     A2
7       2021-12-11 11:00:06.790 ⋯ TRUE   FALSE    N6910787     FBC
8       2021-12-11 11:00:06.790 ⋯ TRUE   FALSE    N6910788     A2
9       2021-12-11 11:00:06.790 ⋯ TRUE   FALSE    N6910788     A2
10      2021-12-11 11:00:06.790 ⋯ TRUE   FALSE    N6910788     A2
11      2021-12-11 11:00:06.790 ⋯ TRUE   FALSE    N6910788     A2
12      2021-12-11 11:00:06.790 ⋯ TRUE   FALSE    N6910788     A2
13      2021-12-11 11:00:06.790 ⋯ TRUE   FALSE    N6913326     FBC
14      2021-12-11 11:00:06.790 ⋯ TRUE   FALSE    N6913327     A2
15      2021-12-11 11:00:06.790 ⋯ TRUE   FALSE    N6913327     A2
16      2021-12-11 11:00:06.790 ⋯ TRUE   FALSE    N6913327     A2
17      2021-12-11 11:00:06.790 ⋯ TRUE   FALSE    N6913327     A2
18      2021-12-11 11:00:06.790 ⋯ TRUE   FALSE    N6913327     A2
19      2023-01-11 17:00:08.747 ⋯ TRUE   FALSE    N6887126     A2
20      2023-01-11 17:00:08.747 ⋯ TRUE   FALSE    N6887126     A2
21      2023-01-11 17:00:08.747 ⋯ TRUE   FALSE    N6887126     A2
22      2023-01-11 17:00:08.747 ⋯ TRUE   FALSE    N6887126     A2
23      2023-01-11 17:00:08.747 ⋯ TRUE   FALSE    N6887126     A2
24      2023-01-11 17:00:08.747 ⋯ TRUE   FALSE    N6887125     FBC
25      2021-12-28 17:00:03.447 ⋯ TRUE   FALSE    N6889546     A2
26      2021-12-28 17:00:03.447 ⋯ TRUE   FALSE    N6889548     A2
27      2021-12-28 17:00:03.447 ⋯ TRUE   FALSE    N6889547     FBC
28      2021-12-28 17:00:03.447 ⋯ TRUE   FALSE    N6889548     A2
29      2021-12-28 17:00:03.447 ⋯ TRUE   FALSE    N6889548     A2
30      2021-12-28 17:00:03.447 ⋯ TRUE   FALSE    N6889548     A2
⋮       ⋮                       ⋱ ⋮      ⋮        ⋮            ⋮
2880305 2023-01-10 17:00:10.237 ⋯ FALSE  FALSE    N24942685    A2
2880306 2023-01-15 11:00:07.837 ⋯ FALSE  FALSE    N24924744    A2
2880307 2023-01-15 11:00:07.837 ⋯ FALSE  FALSE    N24924744    A2
2880308 2023-01-15 11:00:07.837 ⋯ FALSE  FALSE    N24924744    A2
2880309 2023-01-15 11:00:07.837 ⋯ FALSE  FALSE    N24924744    A2
2880310 2023-01-15 11:00:07.837 ⋯ FALSE  FALSE    N24924745    FBC
2880311 2023-01-15 11:00:07.837 ⋯ FALSE  FALSE    N24924744    A2
2880312 2023-01-18 11:00:10.367 ⋯ FALSE  FALSE    N24939301    A2
2880313 2023-01-18 11:00:10.367 ⋯ FALSE  FALSE    N24939299    FBC
2880314 2023-01-18 11:00:10.367 ⋯ FALSE  FALSE    N24939301    A2
2880315 2023-01-18 11:00:10.367 ⋯ FALSE  FALSE    N24939301    A2
2880316 2023-01-18 11:00:10.367 ⋯ FALSE  FALSE    N24939301    A2
2880317 2023-01-18 11:00:10.367 ⋯ FALSE  FALSE    N24939301    A2
2880318 2023-01-08 11:00:07.963 ⋯  TRUE  FALSE    N24923850    A2
2880319 2023-01-08 11:00:07.963 ⋯  TRUE  FALSE    N24923850    A2
2880320 2023-01-08 11:00:07.963 ⋯  TRUE  FALSE    N24923850    A2
2880321 2023-01-08 11:00:07.963 ⋯  TRUE  FALSE    N24923850    A2
2880322 2023-01-08 11:00:07.963 ⋯  TRUE  FALSE    N24923850    A2
2880323 2023-01-08 11:00:07.963 ⋯  TRUE  FALSE    N24923851    FBC
2880324 2023-01-17 17:00:09.563 ⋯ FALSE  FALSE    N24959987    FBC
2880325 2023-01-17 17:00:09.563 ⋯ FALSE  FALSE    N24959988    A2
2880326 2023-01-17 17:00:09.563 ⋯ FALSE  FALSE    N24959988    A2
2880327 2023-01-17 17:00:09.563 ⋯ FALSE  FALSE    N24959988    A2
2880328 2023-01-17 17:00:09.563 ⋯ FALSE  FALSE    N24959988    A2
2880329 2023-01-12 11:00:11.067 ⋯ FALSE  FALSE    N24947706    A2
2880330 2023-01-12 11:00:11.067 ⋯ FALSE  FALSE    N24947706    A2
2880331 2023-01-12 11:00:11.067 ⋯ FALSE  FALSE    N24947706    A2
2880332 2023-01-12 11:00:11.067 ⋯ FALSE  FALSE    N24947705    FBC
2880333 2023-01-12 11:00:11.067 ⋯ FALSE  FALSE    N24947706    A2
2880334 2023-01-12 11:00:11.067 ⋯ FALSE  FALSE    N24947706    A2
        TestName        LLN ULN Units   Value   value_class
1       ALK.PHOSPHATASE 30  130 IU/L     228.00 Mild (1-2x ULN)
2       ALT             10   45 IU/L    1967.00 Severe (>5x ULN)
3       BILIRUBIN       0    21 umol/L    27.00 Mild (1-2x ULN)
4       WHITE CELLS     4.0  11 x10*9/L    9.52 Normal <= ULN
5       ALBUMIN         32   50 g/L       26.00 Normal <= ULN
6       CRP             0     5 mg/L     104.20 Severe (>5x ULN)
7       WHITE CELLS     4.0  11 x10*9/L    7.76 Normal <= ULN
8       ALBUMIN         32   50 g/L       35.00 Normal <= ULN
9       ALK.PHOSPHATASE 30  130 IU/L      57.00 Normal <= ULN
10      CRP             0     5 mg/L       8.50 Mild (1-2x ULN)
11      ALT             10   45 IU/L      11.00 Normal <= ULN
12      BILIRUBIN       0    21 umol/L     6.00 Normal <= ULN
13      WHITE CELLS     4.0  11 x10*9/L   11.02 Mild (1-2x ULN)
14      ALBUMIN         32   50 g/L       30.00 Normal <= ULN
15      BILIRUBIN       0    21 umol/L    15.00 Normal <= ULN
16      ALK.PHOSPHATASE 30  130 IU/L      85.00 Normal <= ULN
17      CRP             0     5 mg/L      67.00 Severe (>5x ULN)
18      ALT             10   45 IU/L      11.00 Normal <= ULN
19      ALK.PHOSPHATASE 30  130 IU/L     283.00 Moderate (2-5x ULN)
20      ALT             10   45 IU/L      41.00 Normal <= ULN
21      BILIRUBIN       0    21 umol/L    14.00 Normal <= ULN
22      ALBUMIN         32   50 g/L       31.00 Normal <= ULN
23      CRP             0     5 mg/L      51.30 Severe (>5x ULN)
24      WHITE CELLS     4.0  11 x10*9/L   17.68 Mild (1-2x ULN)
25      CRP             0     5 mg/L      26.70 Severe (>5x ULN)
26      ALBUMIN         32   50 g/L       34.00 Normal <= ULN
27      WHITE CELLS     4.0  11 x10*9/L   11.62 Mild (1-2x ULN)
28      BILIRUBIN       0    21 umol/L    11.00 Normal <= ULN
29      ALK.PHOSPHATASE 30  130 IU/L      85.00 Normal <= ULN
30      ALT             10   45 IU/L      10.00 Normal <= ULN
⋮       ⋮               ⋮   ⋮   ⋮       ⋮       ⋮
2880305 BILIRUBIN       0    21 umol/L   27.00  Mild (1-2x ULN)
2880306 CRP             0     5 mg/L    198.70  Severe (>5x ULN)
2880307 ALBUMIN         32   50 g/L      41.00  Normal <= ULN
2880308 BILIRUBIN       0    21 umol/L   10.00  Normal <= ULN
2880309 ALT             10   45 IU/L     21.00  Normal <= ULN
2880310 WHITE CELLS     4.0  11 x10*9/L   9.85  Normal <= ULN
2880311 ALK.PHOSPHATASE 30  130 IU/L     62.00  Normal <= ULN
2880312 ALT             10   45 IU/L     29.00  Normal <= ULN
2880313 WHITE CELLS     4.0  11 x10*9/L   8.17  Normal <= ULN
2880314 ALBUMIN         32   50 g/L      39.00  Normal <= ULN
2880315 ALK.PHOSPHATASE 30  130 IU/L     42.00  Normal <= ULN
2880316 CRP             0     5 mg/L      5.70  Mild (1-2x ULN)
2880317 BILIRUBIN       0    21 umol/L   12.00  Normal <= ULN
2880318 ALBUMIN         32   50 g/L      37.00  Normal <= ULN
2880319 ALT             10   45 IU/L     42.00  Normal <= ULN
2880320 ALK.PHOSPHATASE 30  130 IU/L    116.00  Normal <= ULN
2880321 CRP             0     5 mg/L     43.80  Severe (>5x ULN)
2880322 BILIRUBIN       0    21 umol/L   18.00  Normal <= ULN
2880323 WHITE CELLS     4.0  11 x10*9/L  16.17  Mild (1-2x ULN)
2880324 WHITE CELLS     4.0  11 x10*9/L   6.80  Normal <= ULN
2880325 ALK.PHOSPHATASE 30  130 IU/L     68.00  Normal <= ULN
2880326 BILIRUBIN       0    21 umol/L    7.00  Normal <= ULN
2880327 ALBUMIN         32   50 g/L      38.00  Normal <= ULN
2880328 ALT             10   45 IU/L     17.00  Normal <= ULN
2880329 ALK.PHOSPHATASE 30  130 IU/L     67.00  Normal <= ULN
2880330 ALT             10   45 IU/L     21.00  Normal <= ULN
2880331 CRP             0     5 mg/L      1.40  Normal <= ULN
2880332 WHITE CELLS     4.0  11 x10*9/L   9.89  Normal <= ULN
2880333 ALBUMIN         32   50 g/L      40.00  Normal <= ULN
2880334 BILIRUBIN       0    21 umol/L   11.00  Normal <= ULN

In [ ]:
for (test in test_names) {
    stat_temp <- tests %>%
        filter(adeno_pos) %>%
        mutate(age_group = factor(age_group, c("<7", "7-15", ">15"))) %>%
        filter(TestName == test) %>%
        group_by(age_group) %>%
        summarise(median_test = median(Value),
                  test_low = quantile(Value, probs = c(0.25)),
                  test_high = quantile(Value, probs = c(0.75)))
    print(test)
    print(stat_temp)
}

### Diagnostic codes

In [9]:
age_df %>%
    filter(ClusterID == 2561819)

  ClusterID AttendanceStartDate AttendanceEndDate LocationAttended IMDScore
1 2561819   2021-04-20          2021-04-20        J-ED             NULL
2 2561819   2022-01-13          2022-01-13        J-WD L4 AAU      11.366
3 2561819   2022-12-10          2022-12-10        J-WD L4 AAU      7.355
  EthnicGroupCode LinkedSex LinkedBirthmonth LinkedDeathdate
1 H               M         1991-07-01       NULL
2 H               M         1991-07-01       NULL
3 H               M         1991-07-01       NULL
  SpineCheckDate          LinkageWarningFlag AttendanceMonth AttendanceTwoMonth
1 2023-01-18 14:00:10.977 0                  2021-04-01      2021-03-01
2 2023-01-18 14:00:10.977 0                  2022-01-01      2022-01-01
3 2023-01-18 14:00:10.977 0                  2022-12-01      2022-11-01
  age_upon_presentation age_group
1 29                    >15
2 30                    >15
3 31                    >15

In [10]:
total_count <- deframe(diag_df %>% 
                       distinct(ClusterID, AttendanceStartDate) %>%
                       nrow())
diag_df %>%
    left_join(age_df) %>%
    filter(!is.na(age_group)) %>%
    mutate(age_group = factor(age_group, c("<7", "7-15", ">15"))) %>%
    group_by(DiagCode, age_group) %>%
    summarise(n = n())

Joining with `by = join_by(ClusterID, AttendanceStartDate)`
Warning message in left_join(., age_df):
“Each row in `x` is expected to match at most 1 row in `y`.
ℹ Row 37 of `x` matches multiple rows.
ℹ If multiple matches are expected, set `multiple = "all"` to silence this warning.”
`summarise()` has grouped output by 'DiagCode'. You can override using the `.groups` argument.

   DiagCode age_group n
1  B159     <7          2
2  B159     7-15        4
3  B159     >15        32
4  B162     >15         1
5  B169     >15        28
6  B171     >15        82
7  B172     >15        26
8  B178     7-15        1
9  B178     >15         5
10 B179     <7          3
11 B179     7-15        1
12 B179     >15        73
13 B180     >15         2
14 B181     >15       198
15 B182     >15       811
16 B188     >15        16
17 B189     >15        10
18 B199     <7          1
19 B199     7-15        2
20 B199     >15        24
21 K716     >15        14
22 K720     <7          2
23 K720     7-15        2
24 K720     >15       188
25 K752     >15         1
26 K759     <7          1
27 K759     7-15        2
28 K759     >15        98